# Ignore Python virtual environments and compiled files
.env
.venv
__pycache__/
*.pyc
instance/
migrations/

# Ignore IDE specific files
.vscode/
.idea/
*.swp
.DS_Store
*.log


# Ignore distribution files
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/
*.whl
